<form #registerForm="ngForm">
    <div class="form-floating">
      <input ngModel name="firstname" type="text" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating">
      <input ngModel name="lastname" type="text" class="form-control"  placeholder="name@example.com">
      <label for="floatingInput">Last Name</label>
    </div>
    <div class="form-floating">
      <input ngModel name="email" type="email" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Email address</label>
    </div>
    <div class="form-floating">
        <input ngModel name="password" type="password" class="form-control"  placeholder="name@example.com">
        <label for="floatingInput">Password</label>
      </div>
    <div class="form-check text-start my-3">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input ngModel name="userType" value="1" type="radio" class="btn-check" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Admin</label>
      </div>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
