<div class="container">
    <form #loginform="ngForm">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input  ngModel name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input ngModel name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit" (click)="login(loginform.value)">Login</button>
    </form>
</div>
